  <div class="wrapper">
  <ng-include src="'templetes/header.html'"></ng-include>
  <!-- Full Width Column -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Contact List
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Contacts</h3>

              <div class="box-tools"></div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Created Date</th>
                  <th>Type</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Mobile</th>
                </tr>
                <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
                  <td>183</td>
                  <td><a href="/#createContact/{{i}}">John Doe</a></td>
                  <td>11-7-2014</td>
                  <td><span class="label label-success">Approved</span></td>
                  <td>03227828647</td>
                  <td>counter.jit@gmail.com</td>
                  <td>8170008963</td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <ng-include src="'templetes/footer.html'"></ng-include>
  </div>